* {
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

html, body {
    height: 100%;
}

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

header nav {
    background-color: #FFF7ED;
}

header > nav div > a {
    text-decoration: none;
    color: #4D4D4D;

    &:active {
        color: #161616;
    }

    &:hover {
        color: #161616;
    }
}

.nav-active {
    border-bottom: 3px solid #161616;
    color: #161616;
}


footer {
    background-color: #252525;
}

footer > p {
    color: #AAAAAA;
}

.about  h3, .about h4 {
    font-weight: bolder;
}

.explore-section {
    background-color: #FFCC8D;
    display: inline-block;
}

a {
    text-decoration: none !important;
}

.about div  a {
    background-color: #161616;

    &:hover {
        background-color: #252525;
    }
}

.home-container {
    background-image: url(./assets/Images/home-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home-container > h1 {
    padding-top: 150px;
    font-weight: 800;
    font-size: 36px;
}

.home-container div a {
    color: white;
    background-color: #FF8C38;
    width: 20rem;
    font-weight: bold;

    &:hover {
        background-color: #FFA94D;
    }
}

.btn-filter {
    background-color: #FFEAD0;
    color: #4D4D4D;

    &:hover {
        background-color: #FFD699;
    }
}

div > .btn-filter-clear {
    background-color: white;
    color: #4D4D4D;
    text-decoration: underline;
}

.btn-filter-selected {
    background-color: #FFD699;
}

.card .card-body > span, .van-details > article > span {
    color: #FFEAD0 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 10px 15px;
}

.badge-simple {
    background-color: #E17654 !important;
}

.badge-luxury {
    background-color: #161616 !important;
}

.badge-rugged {
    background-color: #115E59 !important;
}

.van-details > article > div button {
    background-color: #FF8C38;
    margin: 15px auto;
    color: #FFFFFF;
    font-weight: 700;
}

div > nav > a, section > article > div a {
    text-decoration: none;
    color: #4D4D4D;

    &:active {
        color: #161616;
        text-decoration: underline;
    }

    &:hover {
        color: #161616;
        text-decoration: underline;
    }
}
